// ========================================================================
// COMPONENTS/PRICE
// ========================================================================

@import '~sassHelpers';

.c-price {
  color: color(yellow-dark);

  &--l {
    font-size: font-size(3);
  }

  &__delivery {
    margin-left: spacer(1);
    color: color(brown-dark);
    font-size: font-size(1);
  }
}
