// ========================================================================
// SETTINGS/COLOURS
// ========================================================================

// MAP
$colors: (
  yellow: #f5d960,
  yellow-dark: #c2a10d,
  brown-dark: #817758,
  brown-light: #d5cdaf,
  green: #5d8e6a,
  blue: #d4ebda,
);
