// ========================================================================
// COMPONENTS/BUTTON
// ========================================================================

@import '~sassHelpers';

.c-button {
  display: inline-block;
  padding: spacer(2) spacer(4);
  border-radius: 6px;

  &--primary {
    color: white;
    background-color: color(green);
  }

  &--full {
    width: 100%;
  }
}
