// ========================================================================
// COMPONENTS/BUTTON
// ========================================================================

@import '~sassHelpers';

.c-button {
  display: inline-block;
  padding: spacer(2) spacer(4);
  border-radius: 6px;

  &:focus {
    outline-offset: 2px;
  }

  &--primary {
    color: white;
    background-color: color(green);

    &:focus {
      outline: 1px dashed color(green);
    }
  }

  &--full {
    width: 100%;
  }
}
