// ========================================================================
// COMPONENTS/PRODUCT-LIST
// ========================================================================

@import '~sassHelpers';

.l-product-details {
  display: grid;
  grid-gap: spacer(4);

  @include bp(10) {
    grid-template-columns: 3fr 2fr;
  }

  @include bp(20) {
    grid-template-columns: 2fr 1fr;
  }
}
