// ========================================================================
// COMPONENTS/PRODUCT-SPECS
// ========================================================================

@import '~sassHelpers';

.c-product-specs {
  dt,
  dd {
    display: inline-block;
    margin-bottom: spacer(2);
  }

  dt {
    width: 140px;
  }

  dd {
    color: color(yellow-dark);
    width: calc(100% - 140px);
    vertical-align: top;

    span {
      display: block;
    }
  }
}
