// ========================================================================
// COMPONENTS/PRODUCT-SPECS
// ========================================================================

@import '~sassHelpers';

.c-product-specs {
  dt,
  dd {
    display: inline-block;
    margin-bottom: spacer(1);
  }

  dt {
    width: 100px;
  }

  dd {
    color: color(yellow-dark);
    width: calc(100% - 100px);
  }

  dd:after {
    content: '\A';
    white-space: pre;
  }
}
