// ========================================================================
// COMPONENTS/PRODUCT-DETAILS
// ========================================================================

@import '~sassHelpers';

.c-product-details {
  p:not(:last-child) {
    margin-bottom: spacer(3);
  }

  ul {
    margin-left: spacer(3);
    list-style-type: disc;

    &:not(:last-child) {
      margin-bottom: spacer(3);
    }
  }
}
