// ========================================================================
// COMPONENTS/HEADER
// ========================================================================

@import '~sassHelpers';

.c-site-header {
  margin-bottom: spacer(2);

  &__top {
    display: flex;
    align-items: center;
    padding-top: spacer(2);
    padding-bottom: spacer(2);
  }

  &__logo {
    width: 120px;

    @include bp(10) {
      width: 180px;
    }
  }

  &__menu {
    margin-left: auto;
  }

  @include bp(10) {
    margin-bottom: spacer(5);
  }
}
