// ========================================================================
// COMPONENTS/SECTION
// ========================================================================

@import '~sassHelpers';

.c-section {
  margin-bottom: spacer(4);

  &__heading {
    margin-bottom: spacer(4);
    font-size: font-size(3);
    text-align: center;
    text-transform: uppercase;

    @include bp(10) {
      font-size: font-size(4);
    }
  }

  &--highlight {
    padding: spacer(4);
    background-color: lighten(color(brown-light), 18);
    border-radius: 20px;
  }

  @include bp(20) {
    margin-bottom: spacer(6);
  }
}
