// ========================================================================
// COMPONENTS/FOOTER
// ========================================================================

@import '~sassHelpers';

.c-site-footer {
  display: flex;
  flex-direction: column;
  padding-top: spacer(4);
  padding-bottom: spacer(4);
  border-top: 1px dashed color(brown-light);

  &__links {
    margin-bottom: spacer(3);
  }

  &__social-links {
    margin-bottom: spacer(2);
  }

  @include bp(20) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &__social-links {
      margin-left: auto;
    }

    &__copyright {
      flex-basis: 100%;
      text-align: right;
    }
  }
}
