// ========================================================================
// COMPONENTS/NAV
// ========================================================================

@import '~sassHelpers';

.c-site-nav {
  transform: translateX(100%);
  opacity: 0;
  background-color: white;
  transition: all 400ms ease-in;
  z-index: 10;

  &__close {
    display: none;
  }

  &__link {
    display: block;
  }

  &--isActive {
    opacity: 1;
    transform: translateX(0);
  }

  @include bp(10, max) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 45px;

    &__close {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    &__link {
      padding: spacer(2);
    }

    &__item {
      border-bottom: 1px dashed color(brown-light);
    }
  }

  @include bp(10) {
    margin-bottom: spacer(4);
    padding: spacer(2) 0;
    border-width: 1px 0 1px 0;
    border-style: dashed;
    border-color: color(brown-light);
    opacity: 1;
    transform: translateX(0);

    &__list {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-right: spacer(3);
      border-right: 1px dashed color(brown-light);
    }

    &__link {
      padding-right: spacer(3);
    }
  }
}
