// ========================================================================
// COMPONENTS/BANNERS
// ========================================================================

@import '~sassHelpers';

.c-banners {
  margin-bottom: spacer(4);

  &__img {
    width: 100%;
    height: 100%;
  }
}
