// ========================================================================
// COMPONENTS/FOOTER/LINKS
// ========================================================================

@import '~sassHelpers';

.c-footer-links {
  display: flex;
  flex-wrap: wrap;

  &__item:not(:last-child) {
    margin-right: spacer(2);
    padding-right: spacer(2);
    border-right: 1px solid color(green);
  }

  &__link {
    display: block;
    font-size: 14px;
  }
}
